<div class="col-xs-12">
  <h2>Posts</h2>
  <ul class="list-group">
    <li *ngFor="let post of posts; let i = index" [ngClass]="{'list-group-item': true,
          'list-group-item-success': post.loveIts > 0,
          'list-group-item-danger': post.loveIts < 0}">
      <div class="">
        <div class="row">
          <div class="col-sm-8" style="font-weight:bolder;">
            <h3>{{ post.title }}</h3>
          </div>
          <div class="col-sm-4 text-right text-muted">
            {{ post.created_at | date: 'short' }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">{{ post.content }}</div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-xs-8">
            <button class="btn btn-success" style="margin-left: 2px" (click)="upLoveIt(i)">Love it!</button>
            <button class="btn btn-danger" style="margin-left: 2px" (click)="downLoveIt(i)">Dont love it!</button>
          </div>
          <div class="col-xs-4 text-right">
              <button class="btn btn-danger" style="margin-left: 2px" (click)="deletePost(i)">Supprimer Post</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>